{# 
	Входные парметры блока:
	* fieldName: "namge"
	* type: 'range(с двумя ползунками)' или 'single(с одним ползунком)'
	* min: минимальное значение слайдера
	* max: максимальное значение слайдера
	* for: стартовое начальное значение слайдера
	* to: стартовое конечное значение слайдера
 #}
<div class="g-range-slider-wr price-slider">
	<div class="g-range-slider price-slider">
		<div class="g-range-slider-trigger _range-trigger" data-field-name="{{fieldName}}" data-type="{{type}}" data-min="{{min}}" data-max="{{max}}" data-from="{{from}}" data-to="{{to}}"></div>
		<input type="hidden" class="g-range-slider-input" name="{{fieldName}}-min">
		<input type="hidden" class="g-range-slider-input" name="{{fieldName}}-max">
		<div class="g-range-slider-labels">
			<div class="g-range-slider-labels__item">
				<span class="g-range-slider-labels_from">0</span>
			</div>
			<div class="g-range-slider-labels__item">
				<span class="g-range-slider-labels_to">0</span>
			</div>
		</div>
	</div>
</div>
